.main {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10vh;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    margin-bottom: 20vh;
    width: 95%;
    padding-top: 3vh;
    height: 70vh;
    overflow-y:scroll;
    margin-left: 1vw;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(106, 95, 255);
    border-radius: 20px;
}

.main::-webkit-scrollbar {
    display: none;
  }

.title {
    color: white;
    text-align: center;
    margin-bottom: 3vh;
}

.lol {
    margin-right: 0;
    margin-left: 0;
}