@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Nunito:wght@300&display=swap");

:root {
  --main-bg-color: rgb(17, 17, 17);
  /* var(--main-bg-color) */
}


.header {
  background-color: var(--main-bg-color);
  padding-top: 12vh;
  font-family: "inter";
  padding-left: 5vw;
}

.titleContainer {
  padding-top: 4vh;
  background-color: var(--main-bg-color);
  background-image: url(../../../images/blobanimation.svg);
  background-repeat: no-repeat;
  background-position-x: 35vw;
  background-position-y: -6vw;
  background-size: 165vh;
  z-index: 2;
  animation: image-resize 15s linear infinite;
}

@keyframes image-resize {
  0% {
    background-size: 124vh;
    background-position-x: 35vw;
  }
  10% {
    background-size: 145vh;
    background-position-x: 35vw;
    background-position-y: -4vh;
  }
  30% {
    background-size: 120vh;
    background-position-x: 37vw;
    background-position-y: -3vh;
  }
  50% {
    background-size: 125vh;
    background-position-x: 37vw;
    background-position-y: -3vh;
  }
  60% {
    background-size: 135vh;
    background-position-x: 35vw;
    background-position-y: -6vh;
  }
  80% {
    background-size: 125vh;
    background-position-x: 39vw;
    background-position-y: -3vh;
  }
  100% {
    background-size: 120vh;
    background-position-x: 35vw;
  }
}


.title {
  font-size: 7vmax;
  background-image: linear-gradient(to right, #ff00ff, #00fcce);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow-animation 100s linear infinite;
  margin-top: 0vh;
}

@keyframes rainbow-animation {
  to {
    background-position: 4500vh;
  }
}

.subTitle {
  color: white;
  font-size: 5vh;
  margin-top: 3vh;
  margin-right: 10vw;
}

.imageContainer {
  padding-left: 0;
  padding-right: 10vw;
  z-index: 1;
}

.mainImage {
  height: 75vh;
  margin-top: -2vh;
  transform: translateX(-15vw);
}

.callToAction {
  padding-top: 4vh;
  font-size: 2vmax;
}

.callToActionText {
  font-size: 4.5vh;
  color: rgb(214, 214, 214);
}

.callToActionButton {
  color: rgba(255, 255, 255, 0.8);
  border: solid;
  border-image-slice: 1;
  border-width: 3px;
  border-image-source: linear-gradient(60deg, #ff00b3, #00ffea);
  padding: 1vmax 1vmax;
  border-radius: 4px;
  font-weight: normal;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  margin-left: 3vw;
  white-space: nowrap;
  font-size: 4vh;
}

.callToActionButton:hover {
  color: white;
  box-shadow: 0 10px 25px rgba(255, 255, 255, 0.4);
}

.informationTitle {
  margin-top: 25vh;
  background: linear-gradient(90deg, #FB3DFF 0.76%, #06F0FF 30%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 4vh;
  padding-bottom: 1vh;
}

.informationHeader {
  padding-bottom: 2vh;
  color: white;
  font-size: 4vmax;
}

.underline {
  padding-bottom: 2vh;
  width: 40vw
}

.informationSubheading {
  padding-bottom: 0vh;
  padding-right: 7vw;
  color: rgb(221, 221, 221);
  font-size: 2vmax;
}

@media only screen and (max-width: 992px) {

  .titleContainer {
    background-position-x: 0;
    padding-bottom: 10vh;
  }


  .title {
    text-align: center;
    font-size: 10vmax;
  }

  .subTitle {
    color: white;
    text-align: center;
    margin-right: 0;
  }

  .imageContainer {
    display: none;
  }

  .callToActionText {
    line-height: 7vh;
    text-align: center;
  }
}
