@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Nunito:wght@300&display=swap');

.heading {
    background-color: black;
    text-align: center;
    padding-top: 2vh;
    color: lightblue;
    font-family: "inter";
}

.eye {
    margin-right: 2%;
    margin-bottom: .2%;
}


.arrow {
    margin-left: 2%;
    margin-bottom: .2%;
}

.line {
    height: 2px;
    width: 100%;
    background-color: lightblue;
    margin-top: 1.5vh;
}