@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Nunito:wght@300&display=swap');


:root {
    --main-bg-color: rgb(17, 17, 17);
    /* var(--main-bg-color) */
  }

.heading {
    background-color: var(--main-bg-color);
    text-align: center;
    padding-top: 2vh;
    color: rgb(122, 222, 255);
    font-family: "inter";
}

.link {
    text-decoration: none;
    color: rgb(171,156,227);
}

.link:hover {
    color: lightblue;
}

.eye {
    margin-right: 2%;
    margin-bottom: .2%;
}


.arrow {
    margin-left: 2%;
    margin-bottom: .2%;
}

.line {
    height: 2px;
    width: 80%;
    margin-left: 10%;
    background: rgb(171,156,227);
    background: linear-gradient(90deg, rgba(171,156,227,1) 24%, rgba(108,108,231,1) 38%, rgba(112,162,222,1) 58%, rgba(81,118,162,1) 93%);
    margin-top: 1vh;
}

.spacing {
    height: 2vh;
    background-color:  var(--main-bg-color) ;
}