@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Nunito:wght@300&display=swap');

:root {
    --main-bg-color: rgb(15, 15, 15);
    /* var(--main-bg-color) */
  }


.mockDraftCardBack {
    background-color: var(--main-bg-color);
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 10vh;
    font-family: 'inter';
    padding-top: 5vh;

}

.mockDraftCard {
    border: solid;
    /* border-image-slice: 1;
    border-width: 3px;
    border-image-source: linear-gradient(60deg, #b16ec4, #5f98b9); */
    background: linear-gradient(277.16deg, #8458FF 6.81%, #FF9797 102.49%);
    border-radius: 31px;
    padding: 1vmax 1vmax;
    border-radius: 20px;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 2vw;
    padding-right: 2vw;
    box-shadow: 0 10px 25px rgba(255, 255, 255, 0.4);
}

.mockDraftCardTitle {
    font-size: 7vmin;
    text-align: center;
    color: black;
}

.mockDraftCardButtonContainer {
    padding-top: 9vmin;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 10vh;
}

.mockDraftCardButton {
    font-size: 4vmin;
    font-weight: bold;
    color: rgb(209, 209, 209);
    text-decoration: none;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-right: 2vmax;
    padding-left: 2vmax;
    background-color: rgb(121, 119, 247);
    border-radius: 10px;
    white-space: nowrap;
    vertical-align: middle;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(209, 209, 209);
}

.mockDraftCardButton:hover {
    box-shadow: 0 10px 25px rgba(255, 255, 255, 0.4);
    color: white;
    border-color: rgb(255, 255, 255);
}

.mockDraftCardImage {
    width: 35vmin;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mockDraftCardText {
    margin-left: 10vw;
    margin-right: 10vw;
    color: #ffffff;
    margin-top: 3vh;
    text-align: center;
    font-size: 3vh;
}