@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Nunito:wght@300&display=swap');

.information {
    font-family: 'inter';
    background-color: black;
    padding-top: 5vmin;
    padding-bottom: 10vh;
}

.informationTitle {
    background: linear-gradient(90deg, #FB3DFF 0.76%, #06F0FF 30%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-size: 4vh;
    padding-bottom: 1vh;
    padding-left: 5vw;
}

.informationHeader {
    padding-bottom: 2vh;
    padding-left: 5vw;
    color: white;
    font-size: 4vmax;
}

.underline {
    margin-left: 7vw;
    padding-bottom: 2vh;
}

.informationSubheading {
    padding-bottom: 5vh;
    padding-left: 5vw;
    padding-right: 20vw;
    color: rgb(221, 221, 221);
    font-size: 2vmax;
}

.informationImage {
    height: 13vmax;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.informationText {
    color: white;
    text-align: center;
    font-size: 3vmin;
    margin-left: 10%;
    margin-right: 10%;
}