.NavBar {
    background-color: black;
}

.link {
    text-decoration: none;
    color: white;
    margin-left: 4vw;
    text-decoration: none;
    color: white;
    
}

.link :hover{
    color: lightgray;
}



