.main {
    background-color: var(--main-bg-color);
    padding-bottom: 10vh;
    
}

.methodology {
    background: linear-gradient(90deg, #FB3DFF 0.76%, #06F0FF 10%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 3vh;
    margin-left: 1vmax;
    font-size: 3vmax;
}

.subHeading {
    color: whitesmoke;
    margin-bottom: 10vh;
    margin-left: 1vmax;
    font-size: 3vmax;
    margin-right: 30vw;
}

.row {
    background-color: var(--main-bg-color);
}

.cardContainer {
    background-color: var(--main-bg-color);
    color: black;
    margin-bottom: 3vh;
}

.card{
    background: conic-gradient(from 241.83deg at 97.82% 85.45%, #75162D 0deg, #EAE2FF 0.64deg, #75162D 360deg);
    border-radius: 25px;
    padding: 2vmax;
    box-shadow: 0 10px 25px rgba(255, 255, 255, 0.4);
    height: 100%;
}



