.body {
   background-color: black;
   background-image: url(../../../images/blobanimation.svg);
   background-repeat: no-repeat;
   background-position-x: 35vw;
   background-position-y: 8vw;
   background-size: 165vh;
   padding-bottom: 20vh;
}